.curseclient
minecraftinstance.json
.git
.idea
saves
logs
local
downloads
astralsorcery
.mixin.out
.ReAuth.cfg
crafttweaker.log
*.dll
options.txt
mods/1.12.2
mods/memory_repo
*.disabled
.gradle
gradle
gradlew.bat
gradlew
config/waitingtimestats.json
journeymap
libraries
crash-reports